# Dependencies
node_modules/
package-lock.json
yarn.lock
.pnpm-store/

# Environment variables
!.env
.env
.env.local
.env.*
packages/*/.env
packages/*/.env.local

# Build outputs
dist/
build/
.output/
packages/*/dist/
packages/*/build/
packages/*/.output/
.DS_Store
.cache
.vercel
.output
.vinxi
.nitro
.output
.tanstack

# Backup files and directories
.bk/
*.bak
*.backup
*~
*.tmp
*.temp

/build/
/api/
/server/build
/public/build
.vinxi

# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

app.config.timestamp_*.js
.aider*
